{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/all_products.css' %}">
</head>
<body>
    <h1 style="text-align:center;">All Products</h1>
    <table>

        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.product_desc }}</td>
                <td>{{ product.in_stock }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" style="text-align:center;">No products found.</td>
            </tr>
            {% endfor %}
        </tbody>
</body>
</html>