{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
</head>
<body>
    <div>
        <h1>{{product.product_name}}</h1>
        <h1>{{product.price}}</h1>
        <h1>{{product.in_stock}}</h1>
        <h1>{{product.product_desc}}</h1>
    </div>



    {% if recent_products %}
        <h2>Recently Viewed</h2>
        <ul>
            {% for item in recent_products %}
                <li>
                    <a href="{% url 'product_detail' item.id %}">
                        {{ item.product_name }} - ${{ item.price }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


</body>
</html>